models/mediapipe/*.task
models/exercise_model/mltest.py
models/exercise_model/*.csv
models/exercise_model/__pycache__
source/test.py
source/__pycache__
assets/misc/*.blend1
assets/desktop.ini
assets/characters/desktop.ini
TODO.txt